.container{
    width: 85%;
    margin: 0 auto;
}
nav{
    background-color: #333;
    color: gold;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 0 10px;
}
article{
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    font-size: 24px;
    font-family: sans-serif;
}
.section1,.section2,.section3{

  
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
.section1{
    background-color: #27a4a0;
      width: 50%;
        margin: 10px 0;
            padding: 15px;
}
.section2 {
    background-color: #f0ad4e;
    width: 100%;
    margin: 10px 0;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section3 {
    background-color: #f07f4e;
    width: 100%;
    margin: 10px 0;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

aside{
  width: 40%;
  height: 50%;
  padding-left: 10px;
  margin-left: 10px;
 position: relative;
 top: -190px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  text-align: center;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}